{% extends 'base.html' %}

{% block title %} Contact {% endblock %}

{% block body %}

    <div class="container">

        <h1>Modal Form Registration</h1>



        <ul class="messages">
            {% for msg in messages %}

                <li>
                    <div class="alert alert-{{msg.level_tag}}" role="alert">
                        {{msg.message}}
                    </div>
                </li>

            {% endfor %}
        </ul>



        <form action="{% url 'modalform' %}" method="post">

            {% csrf_token %}

            <div class="form-group">
              <label>Username</label>
              {{modalform.username}}
            </div>

            <div class="form-group">
              <label>Password</label>
              {{modalform.password}}
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Email adress</label>
              {{modalform.email}}
            </div>

            <div class="form-group">
              <label for="exampleInputPhone1">Phone</label>
              {{modalform.phone}}
            </div>

            <input type="submit" class="btn btn-success" value="Register">

        </form>


    </div>

{% endblock %}
